.block {
  display: block;
}

.align-center {
  text-align: center;
}

.strapline-intro {
  font-family: Effra-Medium, Arial, Geneva, sans-serif;
  font-weight: 400;
  font-size: 5rem;
  color: rgb(0, 222, 182);
  padding: 0 0 1px;
  margin: 0;
}

.home-page {
  height: auto;
  max-width: 100%;
  background-image: url('https://res.cloudinary.com/doq7jkjo0/image/upload/v1543317762/Houseo/background.png');
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 10px;
  width: 100%;
}

.hero-content {
  width: 631px;
  display: block;
  transform: translate3d(0px, 0px, 0px);
  margin: -130px auto 0px;
  padding: 30px;
  color: rgb(255, 255, 255);
  text-shadow: none;
  background: rgb(0, 72, 137);
  border-radius: 9px;

  h1 {
    font-size: 2.6rem;
    margin-top: 0;
  }
}


.hero-form {
  margin-top: 30px;
}

.hero-form input {
  width: 35%;
  display: inline-block;
}

.hero-form input:last-child {
  width: 20%;
  margin-top: -5px;
}
