.block {
  display: block!important;
}
.align-center {
  text-align: center!important;
}

.display-table-cell {
  color: rgb(255, 255, 255);
  text-shadow: none !important;
  background: rgb(0, 72, 137);
  text-align: center;
  text-shadow: none;
  line-height: 44px;
}

.block {
  font-family: Effra-Medium, Arial, Geneva, sans-serif;
  font-weight: 400;
  font-size: 37px;
  color: rgb(0, 222, 182);
  padding: 0px 0px 1px;
  margin: 0px;
}
