.container {
  margin-top: 30px;
}

.add-form {
  max-width: 500px;
  margin-top: 10px;
}

.back-homepage {
  font-size: 15px;
  color: grey;
  text-decoration: none;
}

.bigger {
  padding: 4px 30px;
}
