.container {
  background-color: white;
}

.flat-container {
  height: 100vh;
  padding: 50px;
}

.flat-image {
  height: 200px;
  width: 300px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  img {
    border-radius: 5px;
  }
}

.flat-details {
  display: flex;
  flex-direction: column;
  height: 200px;
  weight: 400px;
  color: rgba(0,0,0,0.7);
  position: relative;
  padding-left: 75px;
}

.card-description {
  h2 {
    margin-top: 50px;
  }
  p {
    margin-bottom: 0px;
  }
}

.add {
  margin-left: 20px;
}

.flat-title {
  position: absolute;
  h2 {
    margin-top: 0px;
  }
  p {
    font-size: 16px;
  }
  top: 0px;
  font-size: 25px;
  font-style: Serif;
}

.flat-address {
  font-size:12px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  p {
    margin-bottom: 5px;
  }
}
.flat-price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.price-info {
  color: rgba(0,0,0,0.7);
  font-size: 14px;
  font-weight: bold;
    p {
    font-size: 28px;
  }
}

.flat-information {
  padding-bottom: 20px;
}

.btn-orange {
  width: 300px;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

h3 {
  font-family: "Raleway", "Helvetica", "sans-serif";
  text-align: center;
}

.call-to-action {
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-position: center;
}

.calendar {
  color:white;
}

.small-text {
  font-size: 14px;
}

.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  max-width: 670px;
}

.message:last-child {
  border-bottom: none;
}

.message-name {
  flex-grow: 1;
  max-width: 250px;
}

.message-body {
  flex-grow: 1;
  max-width: 300px;
}

.message-name {
  padding-left: 10px;
  font-size: 15px;
  color: rgba(0,0,0,0.9);
}

.message-name {
   font-size: 15px;
  margin-bottom: 0px;
  color: rgba(0,0,0,0.9);
}

.message-name strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}

.message-body {
  padding-left: 10px;
  font-size: 15px;
  color: rgba(0,0,0,0.7);
}

.message-body {
  font-size: 15px;
  margin-bottom: 15px;
  color: rgba(0,0,0,0.4);
}

.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}

.message-body p {

  margin: 6px 0;

}

.message-status {

  font-size: 16px;
  margin-bottom: 5px;

  font-weight: bold;

}

.status.accepted {

  color: #04A366;

}

.status.declined {

  color: red;

}

.status.pending {
  color: lightgrey;

}

.property-ad-container {
  padding: 20px;
  height: 100vh;
  h3 {
  margin-bottom: 20px;
  }
}

.ad-card {
  margin: 10px;
  width: 500px;
  display: flex;
  border-right: 3px solid #479ED0;
  border-radius: 6px;
  padding-right: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}

.myappcard {
  background-size: cover;
  background-position: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 300px;
}


.customize {
  margin-top: 10px;
  text-decoration: none;
  list-style: none;
  .status {
    color: #479ED0;
    display: flex;
  }
}
a {
  color: #479ED0;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.card-of-my-flat {
  height: 176px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 20px;
  border-radius: 6px;
}
