.container {
  background-color: white;
}

.flat-container {
  height: 100vh;
  padding: 50px;
}

.flat-image {
  height: 200px;
  width: 300px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  img {
    border-radius: 5px;
  }
}

.flat-details {
  display: flex;
  flex-direction: column;
  height: 200px;
  weight: 400px;
  color: rgba(0,0,0,0.7);
  position: relative;
  padding-left: 75px;
}

.card-description {
  h2 {
    margin-top: 50px;
  }
  p {
    margin-bottom: 0px;
  }
}

.add {
  margin-left: 20px;
}

.flat-title {
  position: absolute;
  h2 {
    margin-top: 0px;
  }
  p {
    font-size: 16px;
  }
  top: 0px;
  font-size: 25px;
  font-style: Serif;
}

.flat-address {
  font-size:12px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  p {
    margin-bottom: 5px;
  }
}
.flat-price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.price-info {
  color: rgba(0,0,0,0.7);
  font-size: 14px;
  font-weight: bold;
    p {
    font-size: 28px;
  }
}

.flat-information {
  padding-bottom: 20px;
}

.btn-orange {
  width: 300px;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

h3 {
  font-family: "Raleway", "Helvetica", "sans-serif";
  text-align: center;
}

.call-to-action {
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.calendar {
  color:white;
}

.small-text {
  font-size: 14px;
}
