<div class="body">
  <div class="cards">
    <div class="row">
      <%@flats.each do |flat| %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1468793195345-d9d67818016d?ixlib=rb-0.3.5&s=0e207df9a222e7bdd08d43b901411e12&auto=format&fit=crop&w=1055&q=80)">
            <div class="card-description">
              <h2><%= link_to flat.title, flat_path(flat) %></h2>
              <p>Address: <%= flat.address %> | Rooms: <%= flat.number_of_rooms %></p>
            </div>
            <p class="card-category"><%= flat.price %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



