<nav class="navbar navbar-default navbar-static-top">
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://res.cloudinary.com/doq7jkjo0/image/upload/v1543313488/Houseo/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Place your add here", new_flat_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Log in", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>


    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a> -->

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://res.cloudinary.com/doq7jkjo0/image/upload/v1543314369/Houseo/loginicon.png" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</nav>

