<h1>Appointmentss</h1>

<%@appointments.each do |appointment| %>
<ul>
  <li><%=appointment.time%></li>
  <li><%=appointment.date%></li>
  <li><%=appointment.status%></li>
    <li><%= link_to "Delete appointment", flat_appointment_path(appointment.flat, appointment),
     method: :delete,
     data: { confirm: "Are you sure?" } %></li>
</ul>
<% end %>
