<h1>Appointmentss</h1>

<% @appointments.each do |appointment|  %>
<% if appointment.flat_id.to_i == params[:flat_id].to_i%>
<p><%= appointment.status %>cl </p>
<% end %>
<% end %>
<p> </p>
<p> </p>

<%= link_to "Add an appointment", new_flat_appointment_path(params[:flat_id]) %>
<p></p>
<%= link_to "Go to flats", cocktails_path %>
